{% extends "base.html" %}
{% block head %}
	<script>
	$(document).ready(function(){

	loadGallery(true, 'a.thumbnail');

	//This function disables buttons when needed
	function disableButtons(counter_max, counter_current){
		$('#show-previous-image, #show-next-image').show();
		if(counter_max == counter_current){
			$('#show-next-image').hide();
		} else if (counter_current == 1){
			$('#show-previous-image').hide();
		}
	}

	/**
	 *
	 * @param setIDs		Sets IDs when DOM is loaded. If using a PHP counter, set to false.
	 * @param setClickAttr  Sets the attribute for the click handler.
	 */

	function loadGallery(setIDs, setClickAttr){
		var current_image,
			selector,
			counter = 0;

		$('#show-next-image, #show-previous-image').click(function(){
			if($(this).attr('id') == 'show-previous-image'){
				current_image--;
			} else {
				current_image++;
			}

			selector = $('[data-image-id="' + current_image + '"]');
			updateGallery(selector);
		});



		function updateGallery(selector) {
			var $sel = selector;
			current_image = $sel.attr('data-image-id');
			$('#image-gallery-name').text($sel.attr('data-name'));
			$('#image-gallery-title').text($sel.attr('data-title'));
			$('#image-gallery-image').attr('src', $sel.attr('data-image'));
			$('#image-gallery-link').attr('href', $sel.attr('data-link'));
			$('#image-gallery-os').text($sel.attr('data-os'));
			$('#image-gallery-device').text($sel.attr('data-device'));
			$('#image-gallery-product').text($sel.attr('data-product'));
			$('#image-gallery-note').val('');
			$('#image-gallery-note').val($sel.attr('data-note'));
			$('#image-gallery-id').attr('value', $sel.attr('id'));
			if($sel.attr('data-default-creds') == "True"){
				$("#image-gallery-default-creds").prop("checked", true);
			}
			else{
				$("#image-gallery-default-creds").prop("checked", false);
			}
			if($sel.attr('data-http-auth') == "True"){
				$("#image-gallery-http-auth").prop("checked", true);
			}
			else{
				$("#image-gallery-http-auth").prop("checked", false);
			}
			if($sel.attr('data-reviewed') == "True"){
				$("#image-gallery-reviewed").prop("checked", true);
			}
			else{
				$("#image-gallery-reviewed").prop("checked", false);
			}

			disableButtons(counter, $sel.attr('data-image-id'));
		}

		if(setIDs == true){
			$('[data-image-id]').each(function(){
				counter++;
				$(this).attr('data-image-id',counter);
			});
		}

		$(document).keydown(function(e) {
   			switch(e.which) {
				case 37: // left
				if (current_image > 1){
					current_image--;
				}
				selector = $('[data-image-id="' + current_image + '"]');
				updateGallery(selector);
				break;

				case 39: // right
				if (current_image < counter){
					current_image++;
				}
				selector = $('[data-image-id="' + current_image + '"]');
				updateGallery(selector);
				break;

				case 38: // up
				document.getElementById('image-gallery-link').click();
				break;

				default: return; // exit this handler for other keys
			}
			e.preventDefault(); // prevent the default action (scroll / move caret)
		});

		$(setClickAttr).on('click',function(){
			updateGallery($(this));
		});
	}
	});
	</script>

	<style>
		.advsearch{
			display:inline-block;
			padding:6px 12px;
			margin-bottom:0;
			font-size:14px;
			font-weight:400;
			line-height:1.42857143;
			text-align:center;
			white-space:nowrap;
			vertical-align:middle;
			-ms-touch-action:manipulation;
			touch-action:manipulation;
			cursor:pointer;
			-webkit-user-select:none;
			-moz-user-select:none;
			-ms-user-select:none;
			user-select:none;
			background-image:none;
			border:1px solid transparent;
			border-radius:4px;
			color:#9D9D9D;
			background-color:#222
			}
		.advsearch.active.focus,
		.advsearch.active:focus,
		.advsearch.focus,
		.advsearch:active.focus,
		.advsearch:active:focus,
		.advsearch:focus{
			outline:5px auto -webkit-focus-ring-color;
			outline-offset:-2px
			}
		.advsearch.focus,
		.advsearch:focus,
		.advsearch:hover{
			color:#FFFFFF;
			text-decoration:none
			}
		.advsearch.active,
		.advsearch:active{
			background-image:none;
			border:none;
			outline:0;
			}
	</style>
{% endblock %}

{% block navbarright %}

<li><button type="button" class="advsearch navbar-btn" data-toggle="collapse" data-target="#filter-panel"><span class="glyphicon glyphicon-cog"></span> Advanced Search</button></li>
{% endblock %}

{% block body %}
<!-- Body Content -->


<div class="container-fluid">
<div class="container">
	<div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default" style="background-color:#F5F5F5">
                <div class="panel-body">
                    <form id="filterform" style="text-align:center" class="form-inline" role="form" method="GET">
                        <div class="form-group">
                            <label class="filter-col" style="padding-left:10px;padding-right:10px;" for="pref-perpage">Rows per page:</label><br>
                            <select id="pref-perpage" class="form-control" name="hosts_per_page">
                                {% if hosts_per_page > 0 %}
                                	{% if hosts_per_page == 20 %}
                                		<option selected="selected" value="20">20</option>
                                	{% else %}
                                		<option value="20">20</option>
                                	{% endif %}
                                	{% if hosts_per_page == 30 %}
                                		<option selected="selected" value="30">30</option>
                                	{% else %}
                                		<option value="30">30</option>
                                	{% endif %}
                                	{% if hosts_per_page == 40 %}
                                		<option selected="selected" value="40">40</option>
                                	{% else %}
                                		<option value="40">40</option>
                                	{% endif %}
                                	{% if hosts_per_page == 50 %}
                                		<option selected="selected" value="50">50</option>
                                	{% else %}
                                		<option value="50">50</option>
                                	{% endif %}
                                	{% if hosts_per_page == 100 %}
                                		<option selected="selected" value="100">100</option>
                                	{% else %}
                                		<option value="100">100</option>
                                	{% endif %}
                                {% else %}
                                	<option selected="selected" value="20">20</option>
                                	<option value="30">30</option>
                                	<option value="40">40</option>
                                	<option value="50">50</option>
                                	<option value="100">100</option>
                                {% endif %}
                            </select>                                
                        </div> <!-- form group [rows] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label><br>
                            <input type="text" class="form-control input-sm" id="pref-search" name="search" value="{{ search }}">
                        </div><!-- form group [search] -->
                        <div class="form-group" style="padding-left:15px">
                            <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by:</label><br>
                            <select id="pref-orderby" class="form-control" name="organize_by">
                                {% if not org == 'IP' %}
                                	<option>IP</option>
                                	{% if org == 'Hostname' %}
                                		<option selected="selected">Hostname</option>
                                	{% else %}
                                		<option>Hostname</option>
                                	{% endif %}
                                	{% if org == 'Rating' %}
                                		<option selected="selected">Rating</option>
                                	{% else %}
                                		<option>Rating</option>
                                	{% endif %}
                                {% else %}
                                	<option>IP</option>
                                	<option>Hostname</option>
                                	<option>Rating</option>
                                {% endif %}
                            </select>                                
                        </div> <!-- form group [order by] --> 
                        <div class="form-group"> <br>
                           	{% if reviewed == 'on' %}
                           		<div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                	<label>
                                		<br><input type="checkbox" name="hide_reviewed" checked="checked">Hide Reviewed
                                	</label>
                            	</div>
                           	{% else %}
                           		<div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                	<label>
                                		<input type="checkbox" name="hide_reviewed">Hide Reviewed
                        			</label>
                            	</div>
                           	{% endif %}
                        </div>
                        <div class="form-group">
                           	<br>
                            <button type="submit" class="btn btn-default filter-col">
                                <span class="glyphicon glyphicon-filter"></span> Filter
                            </button>
                            <br>  
                        </div>
                        <div class="form-group">
                    		<br>
                    		<a href="{% url 'webscout:index' %}"><button type="button" class="btn btn-default filter-col">
                    			Clear Filter
                    		</button></a>
                    	</div>
                    </form>
                </div>
            </div>
        </div>    
	</div>
</div>
	<!-- Pagination -->
	<nav>
	<div align="center">
		<ul class="pagination" align="center">		
			{% if hosts.has_previous %}
				<li><a href="?page={{ hosts.previous_page_number }}{{ pagination_parameters }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			{% endif %}
			{% if hosts.paginator.num_pages < 12 %}
				{% for page in hosts.paginator.page_range %}
					{% if hosts.number == page %}
						<li class="active"><a href="?page={{ page }}{{ pagination_parameters }}"> {{ page }} <span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href="?page={{ page }}{{ pagination_parameters }}"> {{ page }} </a></li>
					{% endif %}
				{% endfor %}
			{% elif hosts.paginator.num_pages > 11 %}
				{% if hosts.number < 7 %}
					{% for page in "nnnnnnnnnnn" %}
						{% if hosts.number == forloop.counter %}
							<li class="active"><a href="?page={{ forloop.counter }}{{ pagination_parameters }}"> {{ forloop.counter }} <span class="sr-only">(current)</span></a></li>
						{% else %}
							<li><a href="?page={{ forloop.counter }}{{ pagination_parameters }}"> {{ forloop.counter }} </a></li>
						{% endif %}
					{% endfor %}
				{% elif hosts.number|add:5 <= hosts.paginator.num_pages %}
					<li><a href="?page={{ hosts.previous_page_number|add:"-4" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-4" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-3" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-3" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-2" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-2" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-1" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-1" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number }}{{ pagination_parameters }}"> {{ hosts.previous_page_number }} </a></li>
					<li class="active"><a href="?page={{ hosts.number }}{{ pagination_parameters }}"> {{ hosts.number }} </a></li>
					<li><a href="?page={{ hosts.next_page_number }}{{ pagination_parameters }}"> {{ hosts.next_page_number }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"1" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"1" }} </a></li>	
					<li><a href="?page={{ hosts.next_page_number|add:"2" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"2" }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"3" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"3" }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"4" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"4" }} </a></li>
				{% elif hosts.number|add:5 > hosts.paginator.num_pages %}
					{% for minus_number in nav_list %}
						{% if hosts.number == hosts.paginator.num_pages|add:minus_number %}
							<li class="active"><a href="?page={{ hosts.paginator.num_pages|add:minus_number }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages|add:minus_number }} </a></li>
						{% else %}
							<li><a href="?page={{ hosts.paginator.num_pages|add:minus_number }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages|add:minus_number }} </a></li>
						{% endif %}	
					{% endfor %}
					{% if hosts.paginator.num_pages == hosts.number %}
						<li class="active"><a href="?page={{ hosts.paginator.num_pages }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages }} </a></li>
					{% else %}
						<li><a href="?page={{ hosts.paginator.num_pages }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages }} </a></li>
					{% endif %}
				{% endif %}
			{% endif %}
						{% if hosts.has_next %}
								<li><a href="?page={{ hosts.next_page_number }}{{ pagination_parameters }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
						{% endif %}

		</ul>			
	</div>
	</nav>


	
	<!-- List of screenshots -->
	<div class="row">
	{% load staticfiles %}
	
	{% for host in hosts %}
		{% if host.ports_set.all|length_is:"1" %}
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 well" style="text-align:left">
								{{ host.IP }}<br>
								{{ host.Hostname }}<br>
			{% for port in host.ports_set.all %}
				<a class="thumbnail" id="{{ port.PortID }}" href="#" data-os="{{ host.OS }}" data-device="{{ host.DeviceType}}" data-rating="{{ host.Rating }}" data-product="{{ port.Product }} {{port.Version }}" data-link="viewer/?destination={{ port.PortID }}" data-image-id="" data-toggle="modal" data-title="{{ host.IP }}:{{ port.Port }}" data-note="{{ port.Notes }}" data-default-creds="{{ port.DefaultCreds }}" data-http-auth="{{ port.HttpAuth }}" data-name="{{ port.Name }}" data-image="{% static port.ImgLink %}" data-target="#image-gallery" data-reviewed="{{ host.Reviewed }}">
					<img class="img-responsive img-rounded center-block" src={% static port.ImgLink %} alt="Short alt text" style="max-width:150px">
				</a>
				Port: {{ port.Port }}<br>
				<a href="viewer?destination={{ port.PortID }}" target="_blank">Open</a>
			{% endfor %}
			</div>
		{% endif %}
		{% if host.ports_set.all|length_is:"2" %}
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 well" style="text-align:left">
				{{ host.IP }}<br>
								{{ host.Hostname }}<br>
			<div class="row">
			{% for port in host.ports_set.all %}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
				<a class="thumbnail" id="{{ port.PortID }}" href="#" data-os="{{ host.OS }}" data-device="{{ host.DeviceType}}" data-rating="{{ host.Rating }}" data-product="{{ port.Product }} {{port.Version }}" data-link="viewer/?destination={{ port.PortID }}" data-image-id="" data-toggle="modal" data-title="{{ host.IP }}:{{ port.Port }}" data-note="{{ port.Notes }}" data-default-creds="{{ port.DefaultCreds }}" data-http-auth="{{ port.HttpAuth }}" data-name="{{ port.Name }}" data-image="{% static port.ImgLink %}" data-target="#image-gallery" data-reviewed="{{ host.Reviewed }}">
					<img class="img-responsive img-rounded center-block" src={% static port.ImgLink %} alt="Short alt text" style="max-width:150px">
				</a>
				Port: {{ port.Port }}<br>
				<a href="viewer?destination={{ port.PortID }}" target="_blank">Open</a>
				</div>
			{% endfor %}
			</div>
			</div>
		{% endif %}
		{% if host.ports_set.all|length_is:"3" %}
			<div class="col-lg-6 col-md-9 col-sm-9 col-xs-12 well" style="text-align:left">
								{{ host.IP }}<br>
				{{ host.Hostname }}<br>
			<div class="row">
			{% for port in host.ports_set.all %}
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
				<a class="thumbnail" id="{{ port.PortID }}" href="#" data-os="{{ host.OS }}" data-device="{{ host.DeviceType}}" data-rating="{{ host.Rating }}" data-product="{{ port.Product }} {{port.Version }}" data-link="viewer/?destination={{ port.PortID }}" data-image-id="" data-toggle="modal" data-title="{{ host.IP }}:{{ port.Port }}" data-note="{{ port.Notes }}" data-default-creds="{{ port.DefaultCreds }}" data-http-auth="{{ port.HttpAuth }}" data-name="{{ port.Name }}" data-image="{% static port.ImgLink %}" data-target="#image-gallery" data-reviewed="{{ host.Reviewed }}">
					<img class="img-responsive img-rounded center-block" src={% static port.ImgLink %} alt="Short alt text" style="max-width:150px">
				</a>
				Port: {{ port.Port }}<br>
				<a href="viewer?destination={{ port.PortID }}" target="_blank">Open</a>
				</div>
			{% endfor %}
			</div>
			</div>
		{% endif %}
		{% if host.ports_set.all|length_is:"4" %}
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 well" style="text-align:left">
								{{ host.IP }}<br>
				{{ host.Hostname }}<br>
			<div class="row">
			{% for port in host.ports_set.all %}
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:left">
				<a class="thumbnail" id="{{ port.PortID }}" href="#" data-os="{{ host.OS }}" data-device="{{ host.DeviceType}}" data-rating="{{ host.Rating }}" data-product="{{ port.Product }} {{port.Version }}" data-link="viewer/?destination={{ port.PortID }}" data-image-id="" data-toggle="modal" data-title="{{ host.IP }}:{{ port.Port }}" data-note="{{ port.Notes }}" data-default-creds="{{ port.DefaultCreds }}" data-http-auth="{{ port.HttpAuth }}" data-name="{{ port.Name }}" data-image="{% static port.ImgLink %}" data-target="#image-gallery" data-reviewed="{{ host.Reviewed }}">
					<img class="img-responsive img-rounded center-block" src={% static port.ImgLink %} alt="Short alt text" style="max-width:150px">
				</a>
				Port: {{ port.Port }}<br>
				<a href="viewer?destination={{ port.PortID }}" target="_blank">Open</a>
				</div>
			{% endfor %}
			</div>
			</div>
		{% endif %}
	{% endfor %}
	</div>

	<!-- Pagination -->
	<nav>
	<div align="center">
		<ul class="pagination" align="center">		
						{% if hosts.has_previous %}
				<li><a href="?page={{ hosts.previous_page_number }}{{ pagination_parameters }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			{% endif %}
			{% if hosts.paginator.num_pages < 12 %}
				{% for page in hosts.paginator.page_range %}
					{% if hosts.number == page %}
						<li class="active"><a href="?page={{ page }}{{ pagination_parameters }}"> {{ page }} <span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href="?page={{ page }}{{ pagination_parameters }}"> {{ page }} </a></li>
					{% endif %}
				{% endfor %}
			{% elif hosts.paginator.num_pages > 11 %}
				{% if hosts.number < 7 %}
					{% for page in "nnnnnnnnnnn" %}
						{% if hosts.number == forloop.counter %}
							<li class="active"><a href="?page={{ forloop.counter }}{{ pagination_parameters }}"> {{ forloop.counter }} <span class="sr-only">(current)</span></a></li>
						{% else %}
							<li><a href="?page={{ forloop.counter }}{{ pagination_parameters }}"> {{ forloop.counter }} </a></li>
						{% endif %}
					{% endfor %}
				{% elif hosts.number|add:5 <= hosts.paginator.num_pages %}
					<li><a href="?page={{ hosts.previous_page_number|add:"-4" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-4" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-3" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-3" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-2" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-2" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-1" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-1" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number }}{{ pagination_parameters }}"> {{ hosts.previous_page_number }} </a></li>
					<li class="active"><a href="?page={{ hosts.number }}"> {{ hosts.number }} </a></li>
					<li><a href="?page={{ hosts.next_page_number }}{{ pagination_parameters }}"> {{ hosts.next_page_number }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"1" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"1" }} </a></li>	
					<li><a href="?page={{ hosts.next_page_number|add:"2" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"2" }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"3" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"3" }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"4" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"4" }} </a></li>
				{% elif hosts.number|add:5 > hosts.paginator.num_pages %}
					{% for minus_number in nav_list %}
						{% if hosts.number == hosts.paginator.num_pages|add:minus_number %}
							<li class="active"><a href="?page={{ hosts.paginator.num_pages|add:minus_number }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages|add:minus_number }} </a></li>
						{% else %}
							<li><a href="?page={{ hosts.paginator.num_pages|add:minus_number }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages|add:minus_number }} </a></li>
						{% endif %}	
					{% endfor %}
					{% if hosts.paginator.num_pages == hosts.number %}
						<li class="active"><a href="?page={{ hosts.paginator.num_pages }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages }} </a></li>
					{% else %}
						<li><a href="?page={{ hosts.paginator.num_pages }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages }} </a></li>
					{% endif %}
				{% endif %}
			{% endif %}
						{% if hosts.has_next %}
								<li><a href="?page={{ hosts.next_page_number }}{{ pagination_parameters }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
						{% endif %}

		</ul>			
	</div>
	</nav>

</div>
<!-- Screenshot Popup Box -->
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:70%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="image-gallery-title" align="center"></h4>
			</div>
			<div class="modal-body">
			 	<div class="row">
			 		<div class="well col-md-4">
			 			<div class="alert alert-success" id="success-alert">
							<button type="button" class="close" data-dismiss="alert">x</button>
							<strong>Success! </strong>
							Notes updated for this interface.
						</div>
						<div style="padding-bottom:5px"><h3>Interface Information</h3></div>
			 			<div style="padding-bottom:5px"><b>Protocol:</b>&#160<span id="image-gallery-name"></span><br>
			 			</div>
			 			<div style="padding-bottom:5px"><b>Product:</b>&#160&#160<span id="image-gallery-product"></span><br>
			 			</div>
			 			<div style="padding-bottom:5px"><b>OS:</b>&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160<span id="image-gallery-os"></span><br>
			 			</div>
			 			<div style="padding-bottom:5px"><b>Device:</b>&#160&#160<span id="image-gallery-device"></span><br>
			 			</div>
			 			<div style="padding-bottom:5px"><h3>Documentation</h3></div>
			 			<form id="note-form" method="POST">
							<div class="form-group">
								{% csrf_token %}
  										<input type="hidden" id="image-gallery-default-credshidden" value="No" name="default-creds" />
  										<input type="checkbox" id="image-gallery-default-creds" value="Yes" name="default-creds" />&#160&#160Default Credentials<br>
  										<input type="hidden" id="image-gallery-http-authhidden" value="No" name="http-auth" />
  										<input type="checkbox" id="image-gallery-http-auth" value="Yes" name="http-auth" />&#160&#160HTTP Authentication<br>
  										<input type="hidden" id="image-gallery-reviewedhidden" value="No" name="reviewed" />
  										<input type="checkbox" id="image-gallery-reviewed" value="Yes" name="reviewed" />&#160&#160Reviewed<br><br>
								<input type="hidden" id="image-gallery-id" class="form-control" name="record" value=""/>
			 					<label for="image-gallery-notes">Notes:</label>
								<textarea placeholder="Notes..." value="" class="form-control" rows="3" id="image-gallery-note" name="note"></textarea>
								<button id="note-submit" type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
						<script>
							$(function() {
								if(document.getElementById("image-gallery-default-creds").checked) {
									document.getElementById("image-gallery-default-credshidden").disabled = true;
								}
								if(document.getElementById("image-gallery-http-auth").checked) {
									document.getElementById("image-gallery-http-authhidden").disabled = true;
								}
							//twitter bootstrap script
								$("#success-alert").hide();
								$("button#note-submit").click(function(e){
									e.preventDefault();
									$.ajax({
										type: "POST",
										url: "",
										data: $('form#note-form').serialize(),
										success: function(msg){
											$("#success-alert").alert();
											$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
			   									$("#success-alert").hide();
			   								});
											$($("#"+$("#image-gallery-id").attr('value')).selector).attr('data-note', $("#image-gallery-note").val());
											if(document.getElementById("image-gallery-default-creds").checked) {
												$($("#"+$("#image-gallery-id").attr('value')).selector).attr('data-default-creds', "True");
											}
											else{
												$($("#"+$("#image-gallery-id").attr('value')).selector).attr('data-default-creds', "False");
											};
											if(document.getElementById("image-gallery-http-auth").checked) {
												$($("#"+$("#image-gallery-id").attr('value')).selector).attr('data-http-auth', "True");
											}
											else{
												$($("#"+$("#image-gallery-id").attr('value')).selector).attr('data-http-auth', "False");
											};
										},
										error: function(){
											alert("failure");
										}
								  	});
								});
							});
						</script>
			 		</div>	
					<div class="well col-md-8">
						<img id="image-gallery-image" class="img-responsive" src="">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-primary" id="show-previous-image" style="width:100%;">Previous</button>
					</div>

					<div class="col-md-3 text-justify">
					</div>

					<div class="col-md-2 text-justify">
						<a href="" id="image-gallery-link" style="text-align:left" target="_blank"><button type="button" class="btn btn-primary" style="width:100%;">Open</button></a>
					</div>

					<div class="col-md-3 text-justify">
					</div>

					<div class="col-md-2">
						<button type="button" id="show-next-image" class="btn btn-primary" style="width:100%;">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



