{% extends "base.html" %}

{% block head %}
	<style>
		.advsearch{
			display:inline-block;
			padding:6px 12px;
			margin-bottom:0;
			font-size:14px;
			font-weight:400;
			line-height:1.42857143;
			text-align:center;
			white-space:nowrap;
			vertical-align:middle;
			-ms-touch-action:manipulation;
			touch-action:manipulation;
			cursor:pointer;
			-webkit-user-select:none;
			-moz-user-select:none;
			-ms-user-select:none;
			user-select:none;
			background-image:none;
			border:1px solid transparent;
			border-radius:4px;
			color:#9D9D9D;
			background-color:#222
			}
		.advsearch.active.focus,
		.advsearch.active:focus,
		.advsearch.focus,
		.advsearch:active.focus,
		.advsearch:active:focus,
		.advsearch:focus{
			outline:5px auto -webkit-focus-ring-color;
			outline-offset:-2px
			}
		.advsearch.focus,
		.advsearch:focus,
		.advsearch:hover{
			color:#FFFFFF;
			text-decoration:none
			}
		.advsearch.active,
		.advsearch:active{
			background-image:none;
			border:none;
			outline:0;
			}
	</style>
{% endblock %}

{% block navbarright %}

<li><button type="button" class="advsearch navbar-btn" data-toggle="collapse" data-target="#filter-panel"><span class="glyphicon glyphicon-cog"></span> Advanced Search</button></li>

{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default" style="background-color:#F5F5F5">
                <div class="panel-body">
                    <form id="filterform" style="text-align:center" class="form-inline" role="form" method="GET">
                        <div class="form-group">
                            <label class="filter-col" style="padding-left:10px;padding-right:10px;" for="pref-perpage">Hosts per page:</label><br>
                            <select id="pref-perpage" class="form-control" name="hosts_per_page">
                                {% if hosts_per_page > 0 %}
                                	{% if hosts_per_page == 20 %}
                                		<option selected="selected" value="20">20</option>
                                	{% else %}
                                		<option value="20">20</option>
                                	{% endif %}
                                	{% if hosts_per_page == 30 %}
                                		<option selected="selected" value="30">30</option>
                                	{% else %}
                                		<option value="30">30</option>
                                	{% endif %}
                                	{% if hosts_per_page == 40 %}
                                		<option selected="selected" value="40">40</option>
                                	{% else %}
                                		<option value="40">40</option>
                                	{% endif %}
                                	{% if hosts_per_page == 50 %}
                                		<option selected="selected" value="50">50</option>
                                	{% else %}
                                		<option value="50">50</option>
                                	{% endif %}
                                	{% if hosts_per_page == 100 %}
                                		<option selected="selected" value="100">100</option>
                                	{% else %}
                                		<option value="100">100</option>
                                	{% endif %}
                                {% else %}
                                	<option selected="selected" value="20">20</option>
                                	<option value="30">30</option>
                                	<option value="40">40</option>
                                	<option value="50">50</option>
                                	<option value="100">100</option>
                                {% endif %}
                            </select>                                
                        </div>
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label><br>
                            <input type="text" class="form-control input-sm" id="pref-search" name="search" value="{{ search }}">
                        </div><
                        <div class="form-group" style="padding-left:15px">
                            <label class="filter-col" style="margin-right:0;" for="pref-orderby">Sort by:</label><br>
                            <select id="pref-orderby" class="form-control" name="organize_by">
                                {% if not org == 'IP' %}
                                	<option>IP</option>
                                	{% if org == 'Hostname' %}
                                		<option selected="selected">Hostname</option>
                                	{% else %}
                                		<option>Hostname</option>
                                	{% endif %}
                                	{% if org == 'LastSeen' %}
                                		<option selected="selected">LastSeen</option>
                                	{% else %}
                                		<option>LastSeen</option>
                                	{% endif %}
                                {% else %}
                                	<option>IP</option>
                                	<option>Hostname</option>
                                	<option>LastSeen</option>
                                {% endif %}
                            </select>                                
                        </div> 
                        <div class="form-group"> <br>
                           	{% if new == 'on' %}
                           		<div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                	<label>
                                		<br><input type="checkbox" name="show_new" checked="checked">New
                                	</label>
                            	</div>
                           	{% else %}
                           		<div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                	<label>
                                		<input type="checkbox" name="show_new">New
                        			</label>
                            	</div>
                           	{% endif %}
                           	{% if stale == 'on' %}
                           		<div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                	<label>
                                		<br><input type="checkbox" name="show_stale" checked="checked">Stale
                                	</label>
                            	</div>
                           	{% else %}
                           		<div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                	<label>
                                		<input type="checkbox" name="show_stale">Stale
                        			</label>
                            	</div>
                           	{% endif %}
                        </div>
                        <div class="form-group">
                           	<br>
                            <button type="submit" class="btn btn-default filter-col">
                                <span class="glyphicon glyphicon-filter"></span> Filter
                            </button>
                            <br>  
                        </div>
                        <div class="form-group">
                    		<br>
                    		<a href="{% url 'webscout:inventory' %}"><button type="button" class="btn btn-default filter-col">
                    			Clear Filter
                    		</button></a>
                    	</div>
                    </form>
                </div>
            </div>
        </div>    
	</div>
</div>
<div class="container well">
	<h2>Host Inventory</h2>
	<p>Active Hosts: {{ active_count }}
	<br>New Hosts: {{ new_count }}
	<br>Stale Hosts: {{ stale_count }}</p>
	<nav>
	<div align="center">
		<ul class="pagination" align="center">		
			{% if hosts.has_previous %}
				<li><a href="?page={{ hosts.previous_page_number }}{{ pagination_parameters }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			{% endif %}
			{% if hosts.paginator.num_pages < 12 %}
				{% for page in hosts.paginator.page_range %}
					{% if hosts.number == page %}
						<li class="active"><a href="?page={{ page }}{{ pagination_parameters }}"> {{ page }} <span class="sr-only">(current)</span></a></li>
					{% else %}
						<li><a href="?page={{ page }}{{ pagination_parameters }}"> {{ page }} </a></li>
					{% endif %}
				{% endfor %}
			{% elif hosts.paginator.num_pages > 11 %}
				{% if hosts.number < 7 %}
					{% for page in "nnnnnnnnnnn" %}
						{% if hosts.number == forloop.counter %}
							<li class="active"><a href="?page={{ forloop.counter }}{{ pagination_parameters }}"> {{ forloop.counter }} <span class="sr-only">(current)</span></a></li>
						{% else %}
							<li><a href="?page={{ forloop.counter }}{{ pagination_parameters }}"> {{ forloop.counter }} </a></li>
						{% endif %}
					{% endfor %}
				{% elif hosts.number|add:5 <= hosts.paginator.num_pages %}
					<li><a href="?page={{ hosts.previous_page_number|add:"-4" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-4" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-3" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-3" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-2" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-2" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number|add:"-1" }}{{ pagination_parameters }}"> {{ hosts.previous_page_number|add:"-1" }} </a></li>
					<li><a href="?page={{ hosts.previous_page_number }}{{ pagination_parameters }}"> {{ hosts.previous_page_number }} </a></li>
					<li class="active"><a href="?page={{ hosts.number }}{{ pagination_parameters }}"> {{ hosts.number }} </a></li>
					<li><a href="?page={{ hosts.next_page_number }}{{ pagination_parameters }}"> {{ hosts.next_page_number }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"1" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"1" }} </a></li>	
					<li><a href="?page={{ hosts.next_page_number|add:"2" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"2" }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"3" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"3" }} </a></li>
					<li><a href="?page={{ hosts.next_page_number|add:"4" }}{{ pagination_parameters }}"> {{ hosts.next_page_number|add:"4" }} </a></li>
				{% elif hosts.number|add:5 > hosts.paginator.num_pages %}
					{% for minus_number in nav_list %}
						{% if hosts.number == hosts.paginator.num_pages|add:minus_number %}
							<li class="active"><a href="?page={{ hosts.paginator.num_pages|add:minus_number }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages|add:minus_number }} </a></li>
						{% else %}
							<li><a href="?page={{ hosts.paginator.num_pages|add:minus_number }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages|add:minus_number }} </a></li>
						{% endif %}	
					{% endfor %}
					{% if hosts.paginator.num_pages == hosts.number %}
						<li class="active"><a href="?page={{ hosts.paginator.num_pages }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages }} </a></li>
					{% else %}
						<li><a href="?page={{ hosts.paginator.num_pages }}{{ pagination_parameters }}"> {{ hosts.paginator.num_pages }} </a></li>
					{% endif %}
				{% endif %}
			{% endif %}
						{% if hosts.has_next %}
								<li><a href="?page={{ hosts.next_page_number }}{{ pagination_parameters }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
						{% endif %}

		</ul>			
	</div>
	</nav>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>IP</th>
				<th>Hostname</th>
				<th>Interfaces</th>
				<th>Last Seen</th>
			</tr>
		</thead>
		<tbody>
		{% for host in hosts %}
			<tr {% if host.Stale %}style="background-color:#939393"{% elif host.New %}style="background-color:#3DDD27"{% endif %}>
				<td>{{ host.IP }}</td>
				<td>{{ host.Hostname }}</td>
				<td>{{ host.interfaces_set.all|length }}</td>
				<td>{{ host.LastSeen }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
