{% extends "base.html" %}
{% block body %}

<div class="container">
<div class="well">
<h3>Unleash the Kraken!</h3>
<h4>Quickstart:</h4>
<p style="margin-left:20px"><b>Step 1</b>: Add host data and take web interface screenshots on the <a href="{% url 'webscout:setup' %}">Setup page</a>.</p>
<p style="margin-left:20px"><b>Step 2</b>: View the screenshots in <a href="{% url 'webscout:index' %}">Web Scout page.</a></p>
<p style="margin-left:20px"><b>Step 3</b>: Click on thumbnails to view more information on each interface, take notes, and perform automated default credential checking.</p>

<h4>Detailed Guide</h4>
<h5>Setup</h5>
<p>
To get started, make your way over to the <a href="{% url 'webscout:setup' %}">Setup page</a>. There you can:<br>
<ul>
	<li>Add IP addresses/ranges and hostnames to scan with Nmap</li>
	<li>Import and parse Nmap XML file</li> 
	<li>Take screenshots of the web interfaces added</li>
	<li>Test for default credentials where able</li>
</ul>
</p>
<p>
The first step is to add hosts to Kraken. Kraken's Setup page provides your with file upload functionality to provide your Nmap XML file and the ability to specifiy IP addresses, IP ranges, hostnames, and specific URLs to screenshot. The second step is to click the "Take Screenshots" button. Celery workers will screenshots all hosts and interfaces in the database. The progress field will display a completion percentage and will show 'SUCCESS' when complete. This may take a while depending on how many screenshots need to be taken. The screenshot-taking Celery task currently uses 5 workers, each with a Selenium headless PhantomJS web driver, so it can be fairly resource intensive. 
</p>
<p>
During the screenshot taking process, interfaces are categorized by type if possible, and any known default credentials are displayed in the 'viewer.html' page. Some identified interfaces have credential checking modules associated with them. These allow for mass, automated default credential checking with the results stored in each host's metadata.
</p>
<h5>Assessing Interfaces</h5>
<p>
Once all of your screenshots are taken, visit <a href="{% url 'webscout:index' %}">Web Scout page</a> to see the listing of your web interfaces. Each host is displayed in it's own field. Each web interace hosted by that host is grouped into that field along with IP, hostname, and basic port information. Clicking a screenshot thumbnail will pop up a larger image along with more detailed information about that interface and host. Within this popup you can take notes, check the check boxes for HTTP Authentication and Default Credentials, and mark the host as reviewed. If the host has a module for checking default credentials, you will see a target glyphicon next to the 'Default Credentials' checkbox. Hit save to record those notes in the database. 
</p>
<p>
Clicking "KrakenView" will open another tab where that will attempt to load that interface into an iframe with a Kraken toolbar at the top. The toolbar allows you to take the same notes you can with the popup and provides you with any known default credentials. There is also an external link in case the page is not able to load in the iframe.
</p>
<p>
You can cycle through the interfaces on each page using the popup by either clicking the Next/Previous buttons or hitting the right/left arrows on your keyboard. The workflow Kraken was designed for is to go through a couple of Web Scout pages using the popup and open web interfaces with KrakenView in the background as you go (Ctrl + left-click for Windows or Option + left-click for Mac). Afterwards, go through the tabs and take notes as you go.
</p>
<h5>Inventory, Reports, and Logs</h5>
<p>
All of your notes can be reviewed in <a href="{% url 'logs:reports' %}">Reports</a>. There you will find lists for interfaces with default credentials and HTTP authentication, as well as all interfaces where notes were entered. All activity perform is recorded in the <a href="{% url 'logs:krakenlog' %}">Logs</a>. Lastly, when the scanning functionality is used to add hosts to Kraken, subsequent scans of thoses hosts or ranges could discover new hosts or be unable to reach others. These two conditions are tracked in Kraken's <a href="{% url 'webscout:inventory' %}">Web Scout's inventory page</a>. Stale hosts, or hosts that were not seen on subsequent scans will have a gray color. Newly found hosts will display as bright green.
</p>
</div>
</div>
{% endblock %}

