<html>
<head>
	<script src="/js/jquery-2.1.1.js"></script>
  	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  	<script src="/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	
	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Set the page to the width of the device and set the zoom level -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kraken Operations Center</title>
	
	<!-- Navigation Bar -->
	<nav class="navbar navbar-inverse navbar-">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'home' %}">Kraken</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="{% url 'webscout:index' %}">Web Interfaces</a>
					</li>
					<li>
						<a href="#">Inventory</a>
					</li>
					<li>
						<a href="{% url 'webscout:setup' %}">Setup</a>
					</li>
					<li>
						<a href="{% url 'logs:reports' %}">Reports</a>
					</li>
					<li>
						<a href="{% url 'logs:krakenlog' %}">Logs</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% block navbarright %}{% endblock %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<style>
		body, html{
			background-color: #d9d9d9;
		}
	</style>
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>
